
        .companyInfo
        {
            font-size: 22px;
            width: 90%;
        margin: 10px auto;
        }
        .main-heading {
        text-align: center;
        margin: 1px auto;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

      }
      .heading {
        text-align: center;
        
        margin: 10px auto;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

      }
      .who-we-are-section{
        width: 90%;
        margin: 10px auto;
        font-size: 22px;
      }
      .our-team{
        width: 90%;
        margin: 10px auto;
      }
      .card-btn {
        background-color: #00dbde;
        background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
        margin: 0px auto;
        padding: 2px 20px;
        height: 32px;
        font-size: 18px;
        color: white;
      }
      .card-img {
       width: 200px;
       height: 250px;
        border-radius: 5px;
      }
      .card-img2{
        width: 200px;
        height: 250px;
        
        border-radius: 5px;

      }
    