
.body{
  background-color: #f5d6f5;
  background-image: linear-gradient(0deg, #f5d6f5 0%, #d2f1f5 100%);

}
        .companyInfo
        {
            font-size: 22px;
            width: 90%;
        margin: 0px auto;
        }
        .main-heading {
        text-align: center;
        font-size: 45px;
        padding-top: 10px;
        margin: 1px auto;
        font-weight: 700;
        font-family: 'Courier New', Courier, monospace;
        
      /** color:#4B0082 ;
      color: #800000;
      color: #8B0000;
      color: #D2691E;*/
      color: #00008B;

      }
      .heading {
        text-align: center;
        font-size: 30px;
        padding: 5px;
        margin: 10px auto;
        border-bottom: 5px solid black;
       width: 90%;

      }
      .heading2{
        width: 100%;
        
      
      }
      .who-we-are-section{
        width: 90%;
        margin: 10px auto;
        font-size: 22px;
       
      }
      .our-team{
        width: 100%;
        margin: 20px auto;
        
      }
      



      
       
      
      .team {
        margin-top: 10px;
         padding: 50px 15%;
      }
      .team-title h1 {
        font-size: 50px;
        color: rgb(167, 29, 29);
        text-align: center;
        position: relative;
      }
      .team-cards {
        width: 100%;
        display: flex;
        padding: 0px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px auto;
      }
      .team-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);
        margin: 25px 10px;
        padding: 10px;
        width: 250px;
        height: 400px;
        text-align: center;
      }
      .team-card:hover {
        transform: translateY(-10px);
        transition: .5s;
        
      }
      .team-img img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
      }
      .s-icon {
        font-size: 29.9px;
        margin: 10px 5px;
        background: #343434;
        color: #fff;
        border-radius: 50%;
        padding: 5px;
      }
      .team-detail h3 {
        color: black;
        font-size: 25px;
        margin: 15px 0;
      }
      .team-detail p {
        color: #666;
        font-size: 20px;
      }
      @media screen and (max-width: 768px) {
        .team-cards {
          display: flex;
          
          flex-direction: column;
        }
        .team-card {
          width: 250px;
          margin: 25px auto;
        }
        .who-we-are-section{
          width: 90%;
          margin: 10px auto;
          font-size: 18px;
          text-align: justify;
        }
        .companyInfo
        {
          text-align: justify;
          font-size: 18px;
        }
        .firstparaspan
        {
          display: none;
        }
      }
      
      .insta
      {
       
      background-color: #FF0066;

  }
  .empty{
    background-color:#404040;
  }
 .linkedin{
background-color: #3333ff;
 }
 .emptylinkedin
 {
  background-color:#404040 ;
 }
 .github{
  background-color: black;
 }
 .emptygithub
 {
  background-color:#404040 ;
 }
 .cardhover{
  transform: translateY(-20px);
  transition: .5s;
 }