

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    height: 500px;
}

.moving-img{
    border-radius: 10px;
    box-shadow: 0 5px 5px  rgba(0, 0, 0, 0.9);
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;

    position: relative;
    margin: auto;
    margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
    img {
        height: 100%;
        width: 100%;
    }
    .centered{
        display: none;
    }
}

.slideshow-container{
    position: relative;
    text-align: center;
    color: white;
    

}
.centered{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-10%,-10%);

    
}

 /* search bar section */
 .search-bar {
    background-color: #f8f9fa;
    padding: 10px 0;
    padding-bottom: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 5px 1px #f87878; */
    margin-bottom: 20px;
}

.search-bar:hover{
    transform: scale(1);
    /* border: 1px double #f87878; */
    box-shadow: 0 0 5px 1px #f87878;
    overflow: hidden;
    transition: 0.2s;
}

/* Custom styles for form elements */
.search-bar input[type="text"],
.search-bar input[type="date"],
.search-bar input[type="number"] {
    border-radius: 30px; 
    padding: 10px 20px; 
}

.search-bar input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.search-bar .btn {
    border-radius: 30px;
    padding: 10px 30px;
}



 /* featured listings section */
 .featured-listings {
    padding: 50px 0;
    
 }

 .card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.card-img-top {
    height: 300px;
    border-radius: 20px;
}

.card-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} 

.card-accommodation{

    height: 550px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.card-accommodation:hover{
    transform: scale(1);
    border: 1px double #000000d4;
    box-shadow: 0 0 5px 1px #f87878;
    overflow: hidden;
    transition: 0.2s;
}


.card-footer-card{
    background-color: black;
    width: 100%;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex-column a:hover {
    margin-left: -10px;
    transition: 1s;
}

h4 {
    color: orange;
}

@media screen and (max-width: 768px) {
    .foo {
        text-align: center;
    }
}

.fa-brands {
    margin: 10px;
    font-size: 30px;
}

.fa-brands:hover {
    transform: scale(1.085);
    transition: 1s
}
.copyright{
    color: #fff;
}

