.heading
{
 font-weight: bolder;
}
.moving-card
{
    height:100%;
    width: 100%;
   
}
.img-text
{
    color:rgb(255, 251, 251);
    font-weight: bolder;
    font-size: large;
}
body{
    background-color: #b8fff5;
    background-size: cover;
    background-repeat: no-repeat;

  }