.body
{
    background-color: #8bff45;
    background-image: linear-gradient(312deg, #8bff45 0%, #ffffff 46%, #ffe396 100%);
    
    
}

.heading
{
 font-weight: bolder;
 text-align: center;
}
.moving-card
{
    height:100%;
    width: 100%;
   
}

.moving-card:hover{
    
}
.img-text
{
    color:rgb(255, 251, 251);
    font-weight: bolder;
    font-size: large;
}

.card-img 
{
    border: 1px solid blue;
}
.card-img:hover{

    transform: scale(1.02);
    box-shadow: 0 0 5px 1px rgb(44, 24, 173);
    overflow: hidden;
    transition: 1s;
}


.card
{
      border: 2px solid rgb(44, 24, 173);
    background-color: #56ff00;
    background-image: linear-gradient(312deg, #56ff00 0%, #ffffff 46%, #ffd670 100%);
}

.card:hover{
    transform: scale(1.002);
    box-shadow: 0 0 5px 1px rgb(44, 24, 173);
    overflow: hidden;
    transition: 1s;
  
    
  }

 
 .search-blog
 {
    text-align: center;
 }

  