.body
{
    /* background-color: #8bff45;
    background-image: linear-gradient(312deg, #8bff45 0%, #ffffff 46%, #ffe396 100%);    */
    background-color: #f5d6f5;
    background-image: linear-gradient(0deg, #f5d6f5 0%, #e9f7fa 100%);
    font-family: Verdana, sans-serif;
    
}

/* sliding images */
.heading
{

 text-align: center;
}

.moving-img-container
{
  
    max-width: 100%;

    position: relative;
    margin: auto;
    margin-bottom: 20px;
    
}
@media screen and (max-width:768px)
  {
    .moving-img-container
  {
        height: 100%;
        width: 100%;
  }
}
.moving-img
{
    height:100%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);

}
@media screen and (max-width:768px)
  {
    .moving-img
  {
   
  }
}


.moving-img:hover
{
    
}
.img-text
{
    color:rgb(7, 0, 0);
    font-weight: bold;
    font-size: large;
}

/* card */
.card-img 
{

}
.card-img:hover{

    transform: scale(1.02);
    border: 1px double  #f87878;
    box-shadow: 0 0 5px 1px rgb(55, 53, 52);
    overflow: hidden;
    transition: 1s;
}

.card
{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-radius: 10px;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);
}

.card:hover{
    transform: scale(1.002);
    border: 1px double rgba(154, 35, 138, 0.833);
    overflow: hidden;
    transition: 1s;
  }
.card-btn
{
  padding: 2px;
  padding-left:10px;
  padding-right: 10px;
  font-size: 16px;
  color: #f87878;;
  border: 1px double  #f87878;
  border-radius: 20px;
  
}
.card-btn:hover
 {
  transform: scale(1.080);
  box-shadow: 0 0 3px 1px #f87878;
  overflow: hidden;
  transition: 1s;
}

@media screen and (max-width:768px)
{
  .card-btn
{
    border-radius: 15%;
   font-size: 10px; 
   padding-bottom: 2px;
}
}

.card-title
{
  text-align: justify;
  justify-content: space-between;
  font-size: 21px;
 
}

@media screen and (max-width:768px)
{
  .card-title
{
    border-radius: 15%;
   font-size: 15px; 
}
}
.card-text-size
{
     padding-top: 5px;
    text-align:justify;
    font-size: 18px;
      font-family: "Lobster", sans-serif;
      
      font-style: normal;
      margin: auto;
      margin-bottom: 10px;
      
}

@media screen and (max-width:768px)
{
  .card-text-size
{
    border-radius: 15%;
    font-size: 15px;
}
}


  /* maharaj */

  .profile
  {
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
  }
  @media screen and (max-width:768px)
  {
    .profile
  {
    text-align: justify;
    padding-bottom: 10px;
    font-size: 15px;
  }
}
  .container
  {
 
    height:100%;
    width: 100%;
   /* border: 1px double rgba(154, 35, 138, 0.833); */
   /* box-shadow: 5px 10px 20px 1px rgb(55, 53, 52); */
 display: block;
 margin:10px auto;
 background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-radius: 10px;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);
  }
  @media screen and (max-width:768px)
  {
      .container
  {
 
   width: 80%;
   height:70%;
   display: block;
   margin: 0 auto;
   padding: 20px;
  }
}
  .container-img
  {
      display: block;
      margin: auto;
    height: 100%;
    width: 100%;
  
     
    
  }
  @media screen and (max-width:768px)
  {
      .container-img
  {
 
   
      display: flex;
     justify-content: center;
     height: 90%;
     width: 90%;
  }
}
  .text
  {
   
      text-align: justify;
      font-size: 20px;
      font-weight: bolder;
      font-family: "Lobster", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding: 10px;
  }
  @media screen and (max-width:768px)
  {
      .text
  {
    padding-top: 30px;
    text-align:justify;
      font-size: 15px;
      font-weight: bolder;
      font-family: "Lobster", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin: auto;
      margin-bottom: 10px;
      
  }
}
  .btn-container
  {
      display: flex;
      justify-content: center;
      margin-top: 40px;
  }
    @media screen and (max-width:768px)
    {
    .btn-container
    {
        padding-top: 40px;
        padding-bottom: 50px;
        display:flex;
        margin: auto;
        width: 50%;
        height: 25px;
        border-radius: 15%;
        font-size: 10px;  
    }
  }

 
  .btn-toggle
  {
     width: 12%;
     padding: 2px;
     margin: 20px;
     color: #f87878;
     border-radius: 20px;
     font-size: 17px;
     border: 1px double  #f87878;
     
  }

  .btn-toggle:hover {
    transform: scale(1.080);
    box-shadow: 0 0 5px 1px #f87878;
    overflow: hidden;
    transition: 1s;
}
  @media screen and (max-width:768px)
  {
  .btn-toggle
  {
     width: 50%;
     height: 25px;
     margin: 10px;
     border-radius: 15%;
     font-size: 10px; 
     padding-bottom: 35px; 
  }
}

.btn
{
  padding-bottom: 2px;
}



