
.card{
    background-color: black;
    width: 100%;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.flex-column a:hover {
    margin-left: -10px;
    transition: 1s;
}

h4 {
    color: orange;
}

@media screen and (max-width: 768px) {
    .foo {
        text-align: center;
    }
}

.fa-brands {
    margin: 10px;
    font-size: 30px;
}

.fa-brands:hover {
    transform: scale(1.085);
    transition: 1s
}
.copyright{
    color: #fff;
}