.cc{
    background-color: #f5d6f5;
  background-image: linear-gradient(0deg, #f5d6f5 0%, #e9f7fa 100%);
}

.rev-img{
  border-radius: 50%;
  height: 500px;
  width: 500px;
  border: solid white 20px;
}