body{
    font-family: Verdana, sans-serif;
  background-image: linear-gradient(0deg, #f5d6f5 0%, #d2f1f5,100%);
}
.package-heading{
    text-align: center;
}
.container-packages{
    width: 90%;
    display: block;
    margin: 20px auto;
    padding: 10px;
}
.box{
    width: 90%;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    line-height: 170%;
    border: 1px double #000000d4;
}
.box:hover{
    transform: scale(1);
    border: 1px double #000000d4;
    box-shadow: 0 0 5px 1px #f87878;
    overflow: hidden;
    transition: 0.2s;
}
.package-img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.package-description{
    padding: 20px;
}
.package-location{
    text-decoration: none;
    color: black;
}
.packages-diffrent-page{
    display: flex;
    justify-content: center;
    
}

/* package description card*/
#packages-detail-description{
    width: 95%;
    display: block;
    margin: 20px auto;
    padding: 20px;
}
.package-card-description-img, .package-card-description-containt{
    width: 100%;
    overflow:auto;
    margin: 20px auto;
    border-radius: 10px;
    line-height: 170%;
    
}
.package-card-description-img img{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    
}
.visit-places{
    width: 100%;
}
.visit-places img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.visit-places img:hover{
    transform: scale(1);
    border: 1px double #000000d4;
    box-shadow: 0 0 5px 1px #272625;
    overflow: hidden;
    transition: 0.2s;
}
.display-property{
    display: none;
}
