@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


.nav-link:hover {
    color: rgb(255, 210, 126);
}

.logo {
    height: 50px;
}

.login-img {
    height: 30px;
}