@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.btn{
 border: none;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


.nav-link:hover {
    color:orange;
    border: 1px solid #ffab19;
    border-radius: 10px;
}

.logo {
    height: 50px;
}

.login-img {
    height: 30px;
}